{% extends 'base.html' %}

{% block title %}Cardápio{% endblock %}

{% block content %}
<div class="class container">
    <div>
        {% include 'navCardapio.html' %}
        <hr>
    </div>
    <section id="body" class="container-fluid p-0 bg-cardapio">
        <section id="fabricacao-propia" class="container-fluid bg-dark p-0 m-0">
            <div class="container text-uppercase text-center text-white p-t2">
                <h1 class="fw-bold mt-4 text-yellow">Cardápio</h1>
                <div class="row">
                    <div class="col-12">
                        <div class="waves m-auto ">&nbsp;</div>
                    </div>
                <div class="col-12">&nbsp;</div>
            </div>
        </section>
    </section>
    {% for linha in categoria %} 
    <section id="pratos" class="container my-4">
        <div class="row g-4">
            <div class="col-12 my-3">
                <h1 class="text-secondary fw-bold">{{linha[1]}}</h1>
            </div>

        {% for tc in tuplas_cardapio %} 
        {% if tc[3] == linha[1] %}
        <div class="col-6 col-md-3">
            <div class="photo">
                <img src="{{ url_for('static', filename='data/cardapio/{}'.format(tc[6]) ) }}" 
                width="200" height="317" class="w-100 mfp-auto-cursor border border-1
                rounded-3" loading="lazy">
            </div>
            <div class="text-uppercase fw-bold">
                <span class="text-danger">1</span>
                 - {{tc[1]}}
            </div>
            <p class="receita">
                {{tc[4]}}
            </p>
            <div class="preco">
                R$ 
                <span class="fw-bold fs-3"> {{tc[5]}}</span>
            </div>
        </div>
        {%endif%}
        {% endfor %}
    {% endfor %}

</div>
{% endblock %}