{% extends 'base.html' %}

{% block content %}
<div class="class container">

    <div class="class container">
        {% include 'navCardapio.html' %}
        <hr>
    </div>

    {% for linha in categoria %} 
    <div class="row mt-4" >
        <h3>{{linha[1]}}</h3>
    </div>

    <div class="row  p-4 ">
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th>Id</th>
                    <th>Item</th>
                    <th>Ordem</th>
                    <th>Categoria</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Imagem </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for l in cardapio %} 
                {% if l[3] == linha[1] %}
                <tr>
                    <td>{{ l[0] }}</td>
                    <td>{{ l[1] }}</td>
                    <td>{{ l[2] }}</td>
                    <td>{{ l[3] }}</td>
                    <td>{{ l[4] }}</td>
                    <td>{{ l[5] }}</td>
                    <td>{{ l[6] }}</td>
                    <td><a href="http://localhost:5000/item_atualizar/{{ l[0]}}">Editar</a></td>
                    <td><a href="http://localhost:5000/item_excluir/{{ l[0] }}">Excluir</a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table> 
    </div>
    {% endfor %}

{% endblock %}
