<!-- EDITAR UM PRODUTO CADASTRADO -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/list.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styleList.css">
    <link rel="icon" href="{{url_for('static', filename='img/Logo.png')}}">
    <title>Listar Produtos</title>
</head>
<body>
<header>
    <a href="http://localhost:5000"><img src="{{url_for('static', filename='img/Logo.png')}}" class="logo"/></a>
    <nav class="menu">
        <ul>
            <li><a href="http://localhost:5001/">Cadastrar um Item no Menu</a></li>
            <li><a href="http://localhost:5001/list">Itens do Menu</a></li>
            <li><a href="http://localhost:5002/">Cadastrar uma Ordem de Compra</a></li>
            <li><a href="http://localhost:5002/list">Ordens de Compra efetuadas</a></li>
            <li><a href="http://localhost:5000/list">Produtos cadastrados no sistema</a></li>
            <li><a href="http://localhost:5003/list">Estoque Disponível</a></li>
            <li><a href="http://localhost:5004/list">Lista de Produtos</a></li>
        </ul>
</nav>
</header>
<hr>
<p class="mensagem">{{mensagem}}</p>
<center>
<button type="submit" class="botao-lista"><a href="http://localhost:5000/list">Voltar</a></button></center>
</body>
</html>