<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

     
    <div class="container">
        <form action="cadastrar" method="post" >
            <label for="inputNome" class="sr-only">Nome do produto: </label><br>    
            <input type="text" name="inputNome" id="inputNome" class="form-control"  required autofocus placeholder="Digite o nome do produto"><br>
            <label for="inputCategoria">Categoria: </label><br>
            <select name="inputCategoria" id="inputCategoria" class="form-control" required>
                <option value="" disabled selected>Selecione uma Categoria...</option>
                <option value="Bebida">Bebida</option>
                <option value="Alimento">Alimento</option>
                <option value="Sobremesa">Sobremesa</option>
            </select><br>
    
    
            <label for="inputQuantidade">Quantidade:</label><br>
            <input type="number" name="inputQuantidade" id="inputQuantidade" class="form-control" placeholder="Digite a quantidade do produto" min="0" ><br>
            <label for="inputLitros">Litros:</label><br>
            <input type="number" name="inputLitros" id="inputLitros" class="form-control" step="0.01" placeholder="Digite a quantidade de litros" ><br>
            <label for="inputPeso">Kilograma:</label><br>
            <input type="number" name="inputPeso" id="inputLitros" class="form-control" step="0.001" placeholder="Digite a quantidade de Kilos" ><br>
            <label for="inputPreco">Preço:</label><br>
            <input type="number" name="inputPreco" id="inputPreco" class="form-control" placeholder="Digite o preço (ex: 10.99)" step="0.01" min="0" required><br>
            <label for="inputDescricao">Descrição:</label><br>
            <textarea name="inputDescricao" id="inputDescricao" class="form-control" placeholder="Digite a descrição" maxlength="45" ></textarea><br>
            <label for="inputIngredientes">Ingredientes:</label><br>
            <textarea name="inputIngredientes" id="inputIngredientes" class="form-control" placeholder="Digite os ingredientes" maxlength="1000"></textarea><br>
            <button id="cadastrar" class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
        </form>
    </div>
    <p class="mensagem">{{mensagem}}</p>
    
  
    
</body>
</html>

    
    
   

