<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar produto</title>
</head>
<body>
    <form action="produto" method="POST">
        <label for="inputNome" class="sr-only">Nome do produto: </label>
        <input type="text" name="inputNome" id="inputNome" class="form-control"  required autofocus>
        <label for="inputCategoria">Categoria: </label>
        <select name="inputCategoria" id="inputCategoria" class="form-control" required>
            <option value="bebida">Bebida</option>
            <option value="alimento">Alimento</option>
            <option value="sobremesa">Sobremesa</option>
        </select>
        <label for="inputLitros">Litros:</label>
        <input type="number" name="inputLitros" id="inputLitros" class="form-control" step="0.01" placeholder="Digite a quantidade de litros" >
        <label for="inputPeso">Kilograma:</label>
        <input type="number" name="inputPeso" id="inputLitros" class="form-control" step="0.01" placeholder="Digite a quantidade de Kilos" >
        <label for="inputPreco">Preço:</label>
        <input type="number" name="inputPreco" id="inputPreco" class="form-control" placeholder="Digite o preço (ex: 10.99)" step="0.01" min="0" required>
        <label for="inputDescricao">Descrição:</label>
        <textarea name="inputDescricao" id="inputDescricao" class="form-control" placeholder="Digite a descrição" maxlength="45" ></textarea>
        <label for="inputIngredientes">Ingredientes:</label>
        <textarea name="inputIngredientes" id="inputIngredientes" class="form-control" placeholder="Digite os ingredientes" maxlength="1000" required></textarea>
        <button id="cadastrar" class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>


    </form>
</body>
</html>