<!-- CADASTRAR UM PRODUTO -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleForm.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" href="{{url_for('static', filename='img/Logo.png')}}">
    <title>Cadastrar produto</title>
</head>
<body>
    <header>
            <a href="http://localhost:5000"><img src="{{url_for('static', filename='img/Logo.png')}}" class="logo"/></a>
            <nav class="menu">
            <details>
                <summary class="tituloMenu"><i class="bi bi-list">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list tituloMenu" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg></i>
                </summary>
    
                <details>
                    <summary class="tituloMenu1">Menu</summary>
                    <p class="subItemMenu"><a href="http://localhost:5001/">Cadastrar um Item no Menu</a></p>
                    <p class="subItemMenu"><a href="http://localhost:5001/list">Itens do Menu</a></p>
                </details>

                <details>
                    <summary class="tituloMenu1">Ordem de compras</summary>
                    <p class="subItemMenu"><a href="http://localhost:5002/">Cadastrar uma Ordem de Compra</a></p>
                    <p class="subItemMenu"><a href="http://localhost:5002/list">Ordens de Compra efetuadas</a>
                </details>

                <details>
                    <summary class="tituloMenu1">Estoque</summary>
                    <p class="subItemMenu"><a href="http://localhost:5003/list">Estoque Disponível</a></p>
                </details>
                <details>
                    <summary class="tituloMenu1">Produtos</summary>
                    <p class="subItemMenu"><a href="http://localhost:5000/list">Produtos cadastrados no sistema</a></p>
                </details>
            </details>
        </nav>
    </header>
    <hr>
    <p class="titulo">Cadastre um produto</p>
    <div class="container">
    <form action="cadastrar" method="post">
        <label for="inputNome" class="sr-only">Nome do produto: </label><br>    
        <input type="text" name="inputNome" id="inputNome" class="form-control"  required autofocus placeholder="Digite o nome do produto"><br>
        <label for="inputCategoria">Categoria: </label><br>
        <select name="inputCategoria" id="inputCategoria" class="form-control" required>
            <option value="" disabled selected>Selecione uma Categoria...</option>
            <option value="Bebida">Bebida</option>
            <option value="Alimento">Alimento</option>
            <option value="Sobremesa">Sobremesa</option>
        </select><br>


        <label for="inputML">ML:</label><br>
        <input type="number" name="inputML" id="inputML" class="form-control" step="0.01" placeholder="Digite a quantidade de ML" ><br>
        <label for="inputPeso">Gramas:</label><br>
        <input type="number" name="inputPeso" id="inputPeso" class="form-control" step="0.001" placeholder="Digite a quantidade de Gramas" ><br>
        <label for="inputDescricao">Descrição:</label><br>
        <textarea name="inputDescricao" id="inputDescricao" class="form-control" placeholder="Digite a descrição" maxlength="45" ></textarea><br>
        <button id="cadastrar" class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
        <button id="resetar" class="btn btn-lg btn-primary btn-block" type="reset">Limpar</button>
    </form>
</div>
<p class="mensagem">{{mensagem}}</p>

</body>
</html>
