<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleList.css">
    <title>Listar Produtos</title>
</head>
<body>
<header>
    <ul>
        <li>
            <a href="http://localhost:5000/">Cadastrar Produtos</a>
        </li>
    </ul>
</header>
    <table>
        <tr><td>produto_id</td><td> Nomes </td><td>Tipo</td><td>Quantidade</td><td>Litros</td><td>KG</td><td>Preço</td><td>Descrição</td><td>Ingredientes</td></tr>
        {% for item in datas %}
        <tr>
            <th>{{item[0]}}</th>
            <th>{{item[1]}}</th>
            <th>{{item[2]}}</th>
            <th>{{item[3]}}</th>
            <th>{{item[4]}}</th>
            <th>{{item[5]}}</th>
            <th>{{item[6]}}</th>
            <th>{{item[7]}}</th>
            <th>{{item[8]}}</th>
        </tr>
        {% endfor %}
        </table>
        <form action="editar_produto" method="post"></form>
        <h2>Editar produto por id:</h2>
        <label for="inputId" class="sr-only">Id do produto:</label>
        <input type="number" name="inputId" id="inputId" class="form-control" required>
        <button id="editarProduto" class="btn btn-lg btn-primary btn-block" type="submit">Editar</button>
</body>
</html>