<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleList.css">
    <title>Listar Produtos</title>
</head>
<body>
<header>
    <ul>
        <li>
            <a href="http://localhost:5000/">Cadastrar Produtos</a>
        </li>
    </ul>
</header>
    <table>
        <tr><td> Nomes </td><td>Tipo</td><td>Quantidade</td><td>Litros</td><td>KG</td><td>Preço</td><td>Descrição</td><td>Ingredientes</td></tr>
        {% for item in datas %}
        <tr>
            <th>{{item[0]}}</th>
            <th>{{item[1]}}</th>
            <th>{{item[2]}}</th>
            <th>{{item[3]}}</th>
            <th>{{item[4]}}</th>
            <th>{{item[5]}}</th>
            <th>{{item[6]}}</th>
            <th>{{item[7]}}</th>
        </tr>
        {% endfor %}
        </table>

        <div class="Buttons-list">
            <a href="http://localhost:5000/" class="btn btn-info" aria-current="page">Cadastro de Produtos</a>
            <a href="#" class="btn btn-warning">Editar</a>
            <a href="#" class="btn btn-danger">Excluir</a>
            
        </div>
</body>
</html>