*
{
    font-family:Be Vietnam Pro  ;
}

.be-vietnam pro-medium {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: normal;
  }


body{
    background-color: rgb(34, 22, 41);
    color: white;
}

th, td{
    border: 1px solid white;
    padding: 8px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    animation: ease-in 2s linear;
    color: blue;
    transition: 400ms linear;
}

ul{
    list-style-type: none;  
  }