body{
    background-color: rgb(34, 22, 41);
    color: white;
}


p{
    text-align: center;
}

input, textarea{
    border-radius: 6px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    animation: ease-in 5s linear;
    color: blue;
}