body{
    background-color: rgb(34, 22, 41);
    color: white;
    font-family:Be Vietnam Pro  ;
}

.be-vietnam pro-medium {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

p{
    text-align: center;
    font-size: 20px;
}

input, textarea, select{
    border: none;
    width:500px;
    height: 25px;
    border-radius: 10px;
    background-color: rgb(244, 245, 247);
    margin: 5px;
    padding-left: 10px;
    resize: none;
}

input::placeholder, textarea::placeholder, select::placeholder{
    color: rgb(0, 0, 0,0.8);
}


a{
    text-decoration: none;
    color: white;
}

a:hover{
    animation: ease-in 5s linear;
    color: blue;
}
ul{
  list-style-type: none;  
}
.container
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}